<div class="container">
  <div class="nav">
    <!-- Button trigger modal -->
    <a class="waves-effect waves-light btn loginbtn" data-toggle="modal" data-target="#modal1">signup / login</a>
    <a class="btn-floating btn-large waves-effect waves-light teal mapbtn" href="map.html"><i class="fa fa-globe" aria-hidden="true"></i></a>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" id="log" href="#test1">login</a></li>
            <li class="tab col s3"><a href="#test2" id="sign">signup</a></li>

          </ul>
        </div>
        <div id="test1" class="col s12">
          <form action="/login">
            <div class="input-field col s6">
              <input id="login-email" type="text" class="validate">
              <label for="email">email</label>
            </div>
            <div class="input-field col s6">
              <input id="login-password" type="password" class="validate">
              <label for="last_name">password</label>
            </div>
        </div>
        </form>
        <div id="test2" class="col s12">
          <form action="/signup">
            <div class="input-field col s6">
              <input id="new-email" type="text" class="validate">
              <label for="first_name">email</label>
            </div>
            <div class="input-field col s6">
              <input id="new-password" type="password" class="validate">
              <label for="new-password">password</label>
            </div>
            <div class="input-field col s6">
              <input id="new-address" type="text" class="validate">
              <label for="new-address"> address</label>
            </div>
        </div>
        </form>
      </div>
      <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">continue</a>
    </div>
  </div>
</div>
<div class="banner">
  <div class="logo">Capitol Hill <i class="fa fa-flag" aria-hidden="true"></i>
  </div>
</div>
<div class="main-container">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12 search-div">

      <form role='form' class="create-update-form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label searchbar">
          <input class="mdl-textfield__input search-input" type="text" id="search" name="search">
          <label class="mdl-textfield__label" for="search">enter address or search by name</label>

        </div>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored search-button" id="searchbutton">
              <i class="material-icons">search</i>
            </button>
      </form>

      <!-- Dropdown Trigger -->
      <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>search by</a>

        <! Dropdown Structure -->
      <!-- <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">Address</a></li>
          <li><a href="#!">Senator</a></li>

        </ul> -->



    </div>


    <div class="row results">
      <div class="col-lg-12">
        <!-- Textfield with Floating Label -->
        <!-- <div class="container">
          <div class="jumbotron">
            Capitol Hill <i class="fa fa-flag" aria-hidden="true"></i>
          </div> -->


        <div class="main-container">

          <div class="row">
            <div class="col-lg-6">
              <div class="demo-card-image mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand sen-image"></div>
              </div>

            </div>
            <div class="col-lg-6">

              <div class="card-panel contact-box">
                <span class="black-text">
                <h3 class="senatorName"></h3>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                  <div class="collapsible-header"><i class="fa fa-share" aria-hidden="true"></i>email</div>
                  <div class="collapsible-body" id="email"></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-mobile" aria-hidden="true"></i>phone</div>
                <div class="collapsible-body" id="phone"></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">local_post_office</i>address</div>
                <div class="collapsible-body" id="address"></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</div>
                <div class="collapsible-body" id="twitter"></div>
              </li>

              </ul>
              </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-panel">
                <span class="black-text">
                    <center>
                     <h4>Votes</h4>
                     <hr/>
              </center>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


</div>

<!-- <script>


$("#search").on("submit", function(event) {
  $(".searchbar").animate({bottom: "300px"});
})
</script> -->
