<!-- Textfield with Floating Label -->
<!-- <div class="container">
    <div class="jumbotron">
      Capitol Hill <i class="fa fa-flag" aria-hidden="true"></i>
    </div> -->


<div class="main-container">

  <div class="row">
    <div class="col-lg-6">
      <div class="demo-card-image mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
    <div class="col-lg-6">

      <div class="card-panel contact-box">
        <span class="black-text">
          <h3>Name {{this.name}}</h3>
         <ul class="collapsible" data-collapsible="accordion">
           <li>
            <div class="collapsible-header"><i class="fa fa-share" aria-hidden="true"></i>email</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-mobile" aria-hidden="true"></i>phone</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">local_post_office</i>address</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>

      </ul>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card-panel">
      <span class="black-text">
              <center>
               <h4>Votes</h4>
               <hr/>
        </center>
        </span>
    </div>
  </div>
</div>
</div>
</div>

</div>
