.banner {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.main-container {
  width: 800px;
  margin: auto;
}

div#modal1.modal.show {
  background-color: rgba(0, 0, 0, 0);
}

.indicator {
  visibility: hidden;
}

a#log, a#sign {
  color: rgb(0, 150, 136);
}

a:hover, a:focus {
  color: rgb(0, 150, 136);
}


/*a#log.active, a#sign.active {
  background-color: rgba(7,137,240,.3);
}*/

.search-div {
  margin-top: 40px;
  margin-left: 100px;
  animation-name: search-div;
  animation-duration: 4s;
}

.image, .contact {
  width: 50%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.contact {
  float: right;
}

.contact-box {
  float: right;
  width: 400px;
}

@keyframes search-div {
  0% {
    left: 0px;
    top: -300px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.search-input {
  width: 600px;
  padding: 20px;
}

.activator {
  width: 100%;
  height: 100px;
}

.logo {
  width: 300px;
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
}

.search-button {
  background: rgb(4, 101, 201);
}



.searchbar, #term {
  margin: auto;
  width: 500px;
  font-size: 30px;
}

.loginbtn {
  top: 18px;
  right: -100px;
  float: right;
}

.mapbtn {
  top: 9px;
  right: -65px;
  float: right;
}

#modal_0{
  width: 40%;
}

/*.results {
  visibility: hidden;
}*/

.demo-card-image.mdl-card, .sen-image {
  float: left;
  width: 250px;
  height: 250px;
  background-size: cover;
  margin-top: 11px;

}

.demo-card-image>.mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
